<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">
      {{ title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <!-- Header Row -->
    <ion-row class="row">
      <ion-col class="name">Name</ion-col>
      <ion-col class="quantity">Pills Remaining</ion-col>
    </ion-row>

    <!-- Data Rows -->
    <ion-row *ngFor="let item of items | async; let i = index">
      <ion-col class="col">{{ item.name }}</ion-col>
      <ion-col class="col">{{ item.quantity }}</ion-col>
    </ion-row>
  </ion-grid>

  <!-- Content for the condensed header -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Medication Quantities</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Content for the expanded header -->
  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>