<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="body">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
      <h1>About Me</h1>
      <h2>My name is Edmund Davis. I'm a master of science in software development student at Maryville University.</h2>
      <h2>I after dealing with a few issues on my own, I wanted to create and app that would people keep track of their medication.</h2>
      <h2>This app will allow you to add you medications on the first page. When you medication quantity gets before 21 pills left you will be alerted to order more medication.</h2>
      <h2>The second tab will show you a list of you medicaitons along with the quantities that you have left.</h2>
      <h2>You are can delete medicaitons which you are no longer taking.</h2>
</ion-content>
